<ul>
<% @list_of_guesses.each do |guess| %>
  <li>
    <%= guess.first_number %>,
    <%= guess.second_number %>,
    <%= guess.third_number %>
    <a href="/guesses/<%= guess.id %>">Details</a>
  </li>
<% end %>
</ul>

<a href="/guesses/new">New Guess</a>
